<mat-card>
    <mat-card-header>
        <img mat-card-image *ngIf="juego?.background_image" [src]="juego?.background_image" alt="{{ juego?.slug }}">
        <img mat-card-image *ngIf="!juego?.background_image" src="assets/images/noImage.png" alt="Imagen Alternativa">
        <div class="content">
            <div class="header">
                <h1>{{juego?.name}}</h1>
                <button mat-button [matMenuTriggerFor]="menu" class="buttonMenu" >
                    <span id="addSpan">Añadir a</span>
                    <mat-icon>add</mat-icon>    
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="registrar('Pendiente')">Pendientes</button>
                    <button mat-menu-item (click)="registrar('Jugando')">Jugando</button>
                    <button mat-menu-item (click)="registrar('Finalizado')">Finalizados</button>
                </mat-menu>
            </div>
            <div class="details">
                <div class="platformas">
                    <p class="detail-title">Plataformas</p>
                    <div class="details-list">
                        <div class="list-item" *ngFor="let plataforma of plataformas">{{ plataforma }}</div>
                    </div>
                </div>
                <div class="desarrolladora ">
                    <p class="detail-title">Desarrolladora</p>
                    <div class="details-list">
                        <div class="list-item clickables" *ngFor="let developer of desarrolladores" [routerLink]="['/main/games-result-developer']"
                        [queryParams]="{developer: developer.slug, developerId: developer.id}">
                            {{ developer.name }}
                        </div>
                    </div>
                </div>
                <div class="genre secondRow">
                    <p class="detail-title">Géneros</p>
                    <div class="details-list">
                        <div class="list-item clickables" *ngFor="let genero of generos" [routerLink]="['/main/games-result']"
                        [queryParams]="{genre: genero.name, genreId: genero.id}">
                            {{ genero.name }}
                        </div>
                    </div>
                </div>               
                <div class="fechaSalida secondRow">
                    <p class="detail-title">Lanzamiento</p>
                    <span>{{fechaSalida? fechaSalida: 'Por determinar'}}</span>
                </div>
            </div>
        </div>
    </mat-card-header>
    <mat-card-actions class="description">
        <p id="texto">{{descripcion}}</p>
    </mat-card-actions>
</mat-card>
