mat-card {
  padding-bottom: 20px;
}


mat-card-header img {
    max-width: 40%;
    max-height: 40%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

mat-card-header {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
}

 .buttonMenu {
    background-color: #e7f1ff;
 }

.content {
    margin-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content h1 {
    align-self: flex-start;
    text-align: left;
}

.details {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

.secondRow {
    margin-top: 20px;
}

.platformas,
.desarrolladora,
.genre,
.fechaSalida {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description {
    margin-top: 20px;
}

.details-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    justify-content: flex-start;
  }

  .list-item {
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: small;
  }

  .clickables {
    transition: transform 0.3s, background-color 0.3s;
  }

  .clickables:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(185, 185, 185)
  }

  .detail-title {
    font-weight: bold;
  }

  #texto {
    margin: 0 15px;
    align-self: flex-start;
    text-align: left;
  }

  mat-card-actions {
    display: flex;
    flex-direction: column;
  }

  .screenshot-title {
    margin-top: 20px;
  }

  .screenshots-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }

  .screenshot {
    height: 30vh;
    width: 30%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s;
  }
  
  .screenshot:hover {
    transform: scale(1.05);
  }

  .row {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  
  .col {
    flex: 0 0 25%;
    padding: 10px;
    box-sizing: border-box;
  }

  .related-title {
    margin-top: 20px;
  }
  
  

  @media (max-width: 600px) {
    mat-card-header {
        display: flex;
        flex-direction: column;
    }

    mat-card-header img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .content{
        align-self: center;
        margin-right: 50px;
        margin-top: 10px;
    }

    .content h1 {
        margin-left: 15px;
    }

    .details {
        justify-items: end;
    }

    #addSpan {
        display: none;
    }

    .screenshot {
      flex-basis: 100%;
    }

    .col {
      flex: 0 0 50%;
      padding: 10px;
      box-sizing: border-box;
    }
    
  }