mat-card {
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: #f2f2f2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  mat-card-header img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  }

  .actions {
    display: flex;
    justify-content: flex-start;
  }

  .dates {
    margin-left: 12px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .boton {
    font-size: smaller;
  }

  .eliminarBoton {
    margin: 8px;
  }

  .editarBoton {
    margin-bottom: 8px;
  }

  @media (max-width: 767px) {


    .name {
        font-size: small;
    }

    .details-link {
        font-size: small;
    }

    mat-card-header {
        height: 80px;
      }
  
  }

  