<div class="container" id="top">
  <div class="header">
    <h1 id="titulo">JUEGOS ESTRENADOS EN LA ÚLTIMA SEMANA</h1>

    <div class="options">
      <mat-radio-group [value]="'lastWeek'">
        <mat-radio-button value="lastWeek" class="custom-radio-button" color="primary"
          (click)="mostrarJuegosEstrenadosUltimaSemana()">
          <span class="radio-label">ÚLTIMA SEMANA</span>
        </mat-radio-button>
        <mat-radio-button value="lastMonth" class="custom-radio-button" color="primary"
          (click)="mostrarJuegosEstrenadosUltimoMes()">
          <span class="radio-label">ÚLTIMO MÉS</span>
        </mat-radio-button>
        <mat-radio-button value="lastThreeMonths" class="custom-radio-button" color="primary"
          (click)="mostrarJuegosEstrenadosUltimosTresMeses()">
          <span class="radio-label">ÚLTIMOS TRES MESES</span>
        </mat-radio-button>
      </mat-radio-group>
      <button mat-button [matMenuTriggerFor]="menu" class="buttonMenu">
        <span id="addSpan">ORDENAR POR</span>
        <mat-icon>sort</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="ordenarTitulo()">Título</button>
        <button mat-menu-item (click)="ordenarFecha()">Fecha</button>
        <button mat-menu-item (click)="ordenarPuntuacion()">Más jugados</button>
      </mat-menu>
    </div>

  </div>
  <div class="gamesContainer">
    
    <div *ngIf="showSpinner" class="spinner-overlay">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="row" *ngIf="!showSpinner">
      <div class="col" *ngFor="let juego of juegosMostrados | paginate: { itemsPerPage: 20, currentPage: page }">
        <app-game-card [juego]="juego"></app-game-card>
      </div>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="onPageChange($event)" previousLabel="Anterior" nextLabel="Siguiente" *ngIf="!showSpinner">
</pagination-controls>

                  
