.container {
    max-width: 100%;
    min-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: left;
}


p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: left;
}

.autor {
    font-style: italic;
    color: #777777;
}

