<div class="container">
    <h1 class="title">INFO ABOUT THE SITE</h1>
    <mat-card class="content">
      <h2 class="subtitle">DESCRIPTION</h2>
      <p>
        This web application is part of my final project for my computer engineering degree. Its objective is to create a site where you can search for videogames and easily keep track of them. You can also see the last news about the world of videogames.
      </p>
  
      <p>
        To perform the querys I have made use of the <strong>RAWG Games</strong> API. IT is a very reliable open data source with many search options and a large amount of avilable metadata. 
      </p>
  
      <ul>
        <li>
          - <strong>RAWG Video Games Database API</strong> URL: 
          <a href="https://rawg.io/">https://rawg.io/</a>
        </li>
      </ul>
  
      <p>
        I've also used the <strong>NewsAPI</strong> to retrieve the latest news about the world of videogames.
      </p>
  
      <ul>
        <li>
          - <strong> News API</strong> URL: 
          <a href="https://newsapi.org/">https://newsapi.org/</a>
        </li>
      </ul>
    </mat-card>
  </div>
  
