<div class="container">
    <h1 class="title">INFORMACIÓN SOBRE EL SITIO</h1>
    <mat-card class="content">
      <h2 class="subtitle">DESCRIPCIÓN</h2>
      <p>
        Esta aplicación web forma parte de mi proyecto final de carrera de ingeniería informática. El objetivo de la misma es crear un sitio en el que poder buscar videojuegos y hacer un seguimiento de estos de forma sencilla. También puedes estar al día de las últimas noticias sobre el mundo de los videojuegos.
      </p>
  
      <p>
        Para poder hacer las búsquedas he hecho uso de la API de <strong>RAWG Games</strong>. Es una fuente de datos abierta muy fiable con muchas opciones de búsqueda y una gran cantidad de metadatos disponibles.
      </p>
  
      <ul>
        <li>
          - URL de <strong>RAWG Video Games Database API</strong>: 
          <a href="https://rawg.io/">https://rawg.io/</a>
        </li>
      </ul>
  
      <p>
        También he hecho uso de la API de <strong>NewsAPI</strong> para poder consultar las últimas noticias sobre el mundo de los videojuegos.
      </p>
  
      <ul>
        <li>
          - URL de <strong> News API</strong>: 
          <a href="https://newsapi.org/">https://newsapi.org/</a>
        </li>
      </ul>
    </mat-card>
  </div>
  
