<div class="container" *ngIf="!loading">
    <h2 class="title">RECENTLY ADDED</h2>
    
    <div class="row" *ngIf="!loading">
        <div class="col" *ngFor="let juego of juegosEstrenados; let i=index">
          <app-game-card [juego]="juego"></app-game-card>
        </div>
    </div>
 
    <h3>
      <a routerLink="/main/recently-added">See more...</a>
    </h3>
    <h2 class="title">RELATED CONTENT</h2>
    <div class="news-container" *ngFor="let noticia of noticiasRelacionadas; let i=index" >
      <app-new-template [new]="noticia"></app-new-template>
    </div>
</div>

<div *ngIf="loading" class="spinner-overlay">
  <div class="spinner-container">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
