<div class="container">
    <h2 class="title">RECIENTEMENTE AÑADIDOS</h2>
    
    <div *ngIf="loading" class="spinner-overlay">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="row" *ngIf="!loading">
        <div class="col" *ngFor="let juego of juegosEstrenados; let i=index">
          <app-game-card [juego]="juego"></app-game-card>
        </div>
    </div>

    <h3>
      <a routerLink="/main/recently-added">Ver más...</a>
    </h3>
    <h2 class="title">CONTENIDO RELACIONADO</h2>
    <div class="news-container" *ngFor="let noticia of noticiasRelacionadas; let i=index" >
      <app-new-template [new]="noticia"></app-new-template>
    </div>
</div>
